* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: black;
}
.main {
    background-color: #262528;
    width: 1300px;
    height: 1390px;
    margin-left: auto;
    margin-right: auto;
}
.menu,.m1,.m2,.m3, .f1,.f2,.f3{
    display: inline-block;
}
.m1,.m2,.m3,.f1,.f2,.f3 {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    vertical-align: top;
    font-size: 13px;
    margin-top: 65px;
}
.f4 {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    padding-left: 1100px;
    font-size: 13px;
}
.logo{
    margin-top: 50px;
    margin-left: 55px;
}
.m1,.f1{
    margin-left: 70px;
}
.m2,.f2{
    margin-left: 20px;
}
.m3,.f3{
    margin-left: 750px;
}
.title{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
}
.description{
    font-size: 20px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}
.button{
    background: blueviolet;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    height: 60px;
    width: 280px;
    border-radius: 10px;
}

/* слайдер - начало*/
.slider {
    width: 900px;
    height: 400px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 10px;
    width: 10px;
    margin: 6px;
    cursor: pointer;
    background-color: #fff;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 410%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}
#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}

/* слайдер - конец */
/* раздел преимущества */
.work {    
    background-color: white;
    margin-top: 600px;
    height: 530px;
}
.work h2 {
    padding-top: 100px;
    margin-left: 55px;
}
.img {
    display: grid;
    margin-top: 50px;
    margin-left: 55px;
    grid-template-columns: 417px 417px 417px;
}
.txt1, .txt2, .txt3 {
    display: grid;
    grid-template-columns: 20px 117px 117px;
    position: absolute;
    top: 1030px;
    text-transform: uppercase;
    width: 340px;
    padding-top: 20px;
    padding-bottom: 28px;
    padding-left: 30px;
    background-color: rgba(39,47,51, 0.85);
}