* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(202, 55, 55);
}

.menu {
    background-color: rgb(202, 55, 55);
    position: absolute;
    width: 1170px;
    height: 1390px;
    left: 55px;
    top: 50px;
}

.m1,.m2,.m3 {
    display: inline;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    
}